@model DAL_ACCOUNTING.Models.Journal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JrnlType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JrnlType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.AccountNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
